
<form [formGroup]="contactForm" class="contact col-6">
  <div class="form-group row form-inline" >
    <div class="col-12 " >
      <input type="text" inlineEdit (blur)=onBlur($event) formControlName="fullName" id="fullName" class="form-control form-control-static h2"  >
    </div>

  </div>
  <div class="form-group row" >
    <div class="col-12 " >
      <input type="text" inlineEdit (blur)=onBlur($event) formControlName="address1" id="address1" class="form-control form-control-static"  >
    </div>

  </div>
  <div class="form-group row" >
    <div class="col-12 " >
      <input type="text" inlineEdit (blur)=onBlur($event) formControlName="address2" id="address2" class="form-control form-control-static"  >
    </div>

  </div>
  <div class="form-group row form-inline" >
    <div class="col-3 " >
      <input type="text" inlineEdit (blur)=onBlur($event) formControlName="city" id="city" class="form-control form-control-static"  >
    </div>
    <div class="col-1 " >
      <input type="text" inlineEdit (blur)=onBlur($event) formControlName="state" id="state" class="form-control form-control-static"  >
    </div>
    <div class="col-1 " >
      <input type="text" inlineEdit (blur)=onBlur($event) formControlName="zip" id="zip" class="form-control form-control-static"  >
    </div>

  </div>
</form>
