
  //div {
  //  .hiddenElement {
  //    display: none;
  //  }
  //  .shownElement {
  //    display: block;
  //  }
  //}

  .contact {
    div:not(:first-child) {
      .form-control {
        padding: inherit;
      }
    }

  }

  .h2 {
    font-size: 2rem;
  }

  #city {
    width:20em;
  }
  #state {
    width: 4em;
  }
  #zip {
    width: 5em;
  }

